            <div class="facebook_badge">
              <g:plusone size="tall"></g:plusone>&nbsp;&nbsp;<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fclasstastic&amp;layout=box_count&amp;show_faces=false&amp;width=100&amp;action=recommend&amp;font=tahoma&amp;colorscheme=light&amp;height=60" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:60px;" allowTransparency="true"></iframe>
              <br />
              <a href="http://www.facebook.com/classtastic"><img alt="Join ClassChecker! on Facebook" src="/images/join_us_on_facebook_200.png" /></a>
              <br />
              <a href="http://bitcoin.org/"><img alt="ClassChecker acceps Bitcoin!" src="http://en.bitcoin.it/w/images/en/7/74/BC_Rnd_64px.png"></a>
              <br />
              <div class="social_buttons">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                  <a class="addthis_button_reddit"></a>
                  <a class="addthis_button_digg"></a>
                  <a class="addthis_button_stumbleupon"></a>
                  <a class="addthis_button_twitter"></a>
                </div>
                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4d83a8bc5c8d9405"></script>
                <!-- AddThis Button END -->
              </div>
            </div>
            <br /><br />
